html { 
  background: url("https://www.muralswallpaper.co.uk/app/uploads/deep-blue-clouded-marble-textures-plain-820x532.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content{
	width: 490px;
	height: 550px;
	background: rgba(0,0,0,.6);
	padding: 25px;
	color: white;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}

.prof{
	border-radius: 60%;
	height: 400px;
	width: 400 px;
}

h1{
	font-weight: normal;
	font-size: 40px;
}
