html { 
  background: url("https://cdn.pixabay.com/photo/2015/03/26/20/14/sun-rise-693384_960_720.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content{
	width: 490px;
	height: 550px;
	background: rgba(0,0,0,.6);
	padding: 25px;
	color: white;
	margin: 0 auto;
	margin-top: 30px;
	text-align: center;
}

.prof{
	border-radius: 60%;
	height: 400px;
	width: 400 px;
}

h1{
	font-weight: normal;
	font-size: 40px;
}
